bertopic==0.17.3
sentence-transformers==5.0.0
transformers==4.53.0

torch==2.7.1
torchvision==0.22.1

streamlit==1.46.1

pandas==2.3.0
numpy==2.2.6

scikit-learn==1.7.0

umap-learn==0.5.9.post2
hdbscan==0.8.40

plotly==6.2.0
matplotlib==3.10.3
seaborn==0.13.2
wordcloud==1.9.4

nltk==3.9.1

google-play-scraper==1.2.7
tqdm==4.67.1
